openapi: 3.1.1
info:
  title: INHERIT — Open Estate Data Interchange Standard
  version: 6.4.2
  description: |
    INHERIT is an open data standard for estate planning information,
    supporting succession law across common law, civil law, Islamic,
    Jewish, Hindu, Japanese, and African customary legal traditions.

    This document serves two purposes:
    1. Schema bundle — all 32 core entity schemas, 14 common types,
       5 asset categories, and 21 jurisdiction extensions as OpenAPI
       components for TypeScript type generation, Zod schema generation,
       and SDK creation
    2. Validation endpoints — reference endpoints for document validation

    For the full specification, visit https://openinherit.org
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  contact:
    name: OpenInherit
    url: https://openinherit.org
    email: hello@openinherit.org
servers:
  - url: https://api.openinherit.org/v1
    description: Reference validation server
security: []
paths:
  /validate:
    post:
      operationId: validateDocument
      summary: Validate an INHERIT estate document
      description: |
        Accepts a complete INHERIT estate document and returns validation results
        at three conformance levels: Schema Valid, Referentially Intact,
        and Jurisdiction Complete.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '400':
          description: Invalid JSON payload
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '422':
          description: Validation failed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /validate/catalogue:
    post:
      operationId: validateCatalogueDocument
      summary: Validate an INHERIT catalogue document
      description: |
        Accepts a complete INHERIT catalogue document and returns validation results.
        Catalogues are dealer/platform asset collections distinct from individual
        estates. The same three conformance levels apply.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/catalogue'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '400':
          description: Invalid JSON payload
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '422':
          description: Validation failed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    InheritDocument:
      description: The top-level INHERIT document envelope
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/schema'
    Estate:
      description: The estate — links all entities together
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/estate'
    Person:
      description: Any person referenced in the estate
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/person'
    Relationship:
      description: Relationship between two people
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/relationship'
    Kinship:
      description: Family group structure
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/kinship'
    Property:
      description: Real property (land, buildings)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/property'
    Asset:
      description: Non-property assets (bank accounts, investments, etc.)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/asset'
    Liability:
      description: Debts, mortgages, loans
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/liability'
    Bequest:
      description: A gift in a will
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/bequest'
    Trust:
      description: Trust arrangements
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/trust'
    Executor:
      description: Named executor or administrator
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/executor'
    Guardian:
      description: Guardian appointment for minor children
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/guardian'
    Wish:
      description: Non-binding wishes (funeral, organ donation, etc.)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/wish'
    Document:
      description: Legal documents (wills, codicils, powers of attorney)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/document'
    Attestation:
      description: Witness attestation of a document
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/attestation'
    ProxyAuthorisation:
      description: Power of attorney or deputyship
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/proxy-authorisation'
    DealerInterest:
      description: Professional interest in the estate
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/dealer-interest'
    NonprobateTransfer:
      description: Assets that pass outside the will
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/nonprobate-transfer'
    Catalogue:
      description: Dealer or platform asset catalogue (distinct from an individual estate)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/catalogue'
    AssetCollection:
      description: A named grouping of assets within an estate or catalogue
      x-inherit-maturity: draft
      $ref: '#/components/schemas/asset-collection'
    AssetInterest:
      description: A fractional or beneficial interest in an asset
      x-inherit-maturity: draft
      $ref: '#/components/schemas/asset-interest'
    Valuation:
      description: A formal or estimated valuation of an asset or estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/valuation'
    InsurancePolicy:
      description: Life or other insurance policy linked to the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/insurance-policy'
    Notification:
      description: A notification event recorded against the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/notification'
    Pet:
      description: A pet or animal with care arrangements
      x-inherit-maturity: draft
      $ref: '#/components/schemas/pet'
    Acknowledgement:
      description: A formal acknowledgement of receipt or consent
      x-inherit-maturity: draft
      $ref: '#/components/schemas/acknowledgement'
    Subscription:
      description: A recurring digital or financial subscription held by the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/subscription'
    Space:
      description: A physical or virtual space associated with the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/space'
    Organisation:
      description: An organisation (charity, company, institution) referenced in the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/organisation'
    Event:
      description: A significant lifecycle event recorded against the estate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/event'
    ConformanceDeclaration:
      description: A declaration that an implementation conforms to the INHERIT standard
      x-inherit-maturity: draft
      $ref: '#/components/schemas/conformance-declaration'
    LifetimeTransfer:
      description: A transfer of assets made during the deceased's lifetime
      x-inherit-maturity: draft
      $ref: '#/components/schemas/lifetime-transfer'
    PowerOfAppointment:
      description: Testamentary power granting authority to decide distribution (general, special, hybrid)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/power-of-appointment'
    Money:
      description: Monetary amounts (integer minor units + currency)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/money'
    Address:
      description: Postal addresses
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/address'
    Jurisdiction:
      description: ISO 3166-2 jurisdiction codes
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/jurisdiction'
    Identifier:
      description: External identifiers (NI number, passport, etc.)
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/identifier'
    TemporalRule:
      description: Time-bound legislation rules
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/temporal-rule'
    Completeness:
      description: Completeness scoring for an estate or entity
      x-inherit-maturity: draft
      $ref: '#/components/schemas/completeness'
    Media:
      description: Media attachments (images, documents, audio)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/media'
    TaxPosition:
      description: Tax liability or exemption position
      x-inherit-maturity: draft
      $ref: '#/components/schemas/tax-position'
    Visibility:
      description: Access control visibility rules for an entity
      x-inherit-maturity: draft
      $ref: '#/components/schemas/visibility'
    AiProvenance:
      description: Provenance metadata for AI-generated content
      x-inherit-maturity: draft
      $ref: '#/components/schemas/ai-provenance'
    FieldProvenance:
      description: Field-level provenance tracking
      x-inherit-maturity: draft
      $ref: '#/components/schemas/field-provenance'
    CulturalDisposition:
      description: Cultural and religious disposition preferences
      x-inherit-maturity: draft
      $ref: '#/components/schemas/cultural-disposition'
    Provenance:
      description: Document or asset provenance chain
      x-inherit-maturity: draft
      $ref: '#/components/schemas/provenance'
    AuditEvent:
      description: An auditable event recorded against an entity
      x-inherit-maturity: draft
      $ref: '#/components/schemas/audit-event'
    AssetCategoryFinancial:
      description: Financial asset category details (accounts, investments, pensions)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/financial'
    AssetCategoryVehicle:
      description: Vehicle asset category details (cars, boats, aircraft)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/vehicle'
    AssetCategoryDigital:
      description: Digital asset category details (crypto, accounts, domains)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/digital'
    AssetCategoryBusiness:
      description: Business asset category details (shares, partnerships, sole trader)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/business'
    AssetCategoryGeneral:
      description: General asset category details (personal property, collectibles)
      x-inherit-maturity: draft
      $ref: '#/components/schemas/general'
    ExtensionUkEnglandWales:
      description: IHT thresholds, intestacy rules, IFPA 1975 for England & Wales
      x-inherit-maturity: candidate
      $ref: '#/components/schemas/uk-england-wales'
    ExtensionUsEstate:
      description: US estate planning — community property, elective share, homestead
      x-inherit-maturity: draft
      $ref: '#/components/schemas/us-estate'
    ExtensionCanada:
      description: Canadian provincial succession rules
      x-inherit-maturity: draft
      $ref: '#/components/schemas/canada'
    ExtensionAustraliaNz:
      description: AU/NZ superannuation, family provision, Maori land
      x-inherit-maturity: draft
      $ref: '#/components/schemas/australia-nz'
    ExtensionEuSuccession:
      description: Brussels IV, European Certificate of Succession, forced heirship
      x-inherit-maturity: draft
      $ref: '#/components/schemas/eu-succession'
    ExtensionJapan:
      description: Japanese succession — koseki, iryubun, yōshi, isan bunkatsu
      x-inherit-maturity: draft
      $ref: '#/components/schemas/japan'
    ExtensionPrcChina:
      description: PRC succession — forced heirship, hukou, notarised certificates
      x-inherit-maturity: draft
      $ref: '#/components/schemas/prc-china'
    ExtensionSingaporeMalaysia:
      description: SG/MY — ISA, AMLA, CPF/EPF nominations, Distribution Act
      x-inherit-maturity: draft
      $ref: '#/components/schemas/singapore-malaysia'
    ExtensionLatinAmerica:
      description: Latin American succession — legítima, forced heirship, fourths system
      x-inherit-maturity: draft
      $ref: '#/components/schemas/latin-america'
    ExtensionIslamicSuccession:
      description: Faraid — fixed shares, residuary, awl/radd, wasiyya, waqf
      x-inherit-maturity: draft
      $ref: '#/components/schemas/islamic-succession'
    ExtensionJewishSuccession:
      description: Halachic inheritance — bekhor, mezonot, kinyan
      x-inherit-maturity: draft
      $ref: '#/components/schemas/jewish-succession'
    ExtensionHinduSuccession:
      description: Hindu succession — Mitakshara/Dayabhaga, HUF, stridhan
      x-inherit-maturity: draft
      $ref: '#/components/schemas/hindu-succession'
    ExtensionAfricaCustomary:
      description: Customary succession — patrilineal/matrilineal, family council, lobola
      x-inherit-maturity: draft
      $ref: '#/components/schemas/africa-customary'
    ExtensionBrazil:
      description: Brazilian succession — meação, legítima, inventário, ITCMD
      x-inherit-maturity: draft
      $ref: '#/components/schemas/brazil'
    ExtensionHongKong:
      description: Hong Kong succession — Intestates Estates Ordinance, MPF, probate
      x-inherit-maturity: draft
      $ref: '#/components/schemas/hong-kong'
    ExtensionSwitzerland:
      description: Swiss succession — Pflichtteil, Erbvertrag, ZGB, IPRG
      x-inherit-maturity: draft
      $ref: '#/components/schemas/switzerland'
    ExtensionIsrael:
      description: Israeli succession — Inheritance Law 1965, religious community rules
      x-inherit-maturity: draft
      $ref: '#/components/schemas/israel'
    ExtensionScotland:
      description: Scottish succession — prior rights, legal rights, confirmation
      x-inherit-maturity: draft
      $ref: '#/components/schemas/scotland'
    ExtensionIreland:
      description: Irish succession — legal right share, Section 117, CAT
      x-inherit-maturity: draft
      $ref: '#/components/schemas/ireland'
    ExtensionIndia:
      description: Indian succession — Hindu Succession Act, personal law plurality
      x-inherit-maturity: draft
      $ref: '#/components/schemas/india'
    ExtensionUae:
      description: UAE succession — federal law, DIFC/ADGM wills, Sharia default
      x-inherit-maturity: draft
      $ref: '#/components/schemas/uae'
    ValidationResult:
      type: object
      required:
        - valid
        - conformanceLevel
        - errors
      properties:
        valid:
          type: boolean
        conformanceLevel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          description: |
            0 = Invalid, 1 = Schema Valid, 2 = Referentially Intact,
            3 = Jurisdiction Complete
        schemaMode:
          type: string
          enum:
            - estate
            - catalogue
          description: |
            The schema mode used for validation. Defaults to 'estate'.
            Use 'catalogue' when validating dealer or platform catalogues.
        errors:
          type: array
          items:
            type: object
            required:
              - path
              - message
              - level
            properties:
              path:
                type: string
              message:
                type: string
              level:
                type: string
                enum:
                  - error
                  - warning
                  - info
        disclaimer:
          type: string
          description: |
            Optional disclaimer provided by the validation service, for example
            noting that AI-extracted data has not been independently verified.
    ProblemDetails:
      description: RFC 9457 Problem Details for HTTP APIs
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type
          example: https://openinherit.org/errors/schema-validation
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Schema Validation Failed
        status:
          type: integer
          description: The HTTP status code
          example: 422
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
          example: The estate document failed Level 1 (Schema Valid) conformance.
        instance:
          type: string
          format: uri
          description: A URI reference that identifies the specific occurrence
          example: /validate
        errors:
          type: array
          description: Detailed validation errors
          items:
            type: object
            required:
              - pointer
              - message
              - level
            properties:
              pointer:
                type: string
                description: JSON Pointer to the failing field
                example: /persons/0/dateOfBirth
              message:
                type: string
                description: Human-readable error description
                example: Must match format 'date' (YYYY-MM-DD)
              level:
                type: string
                enum:
                  - error
                  - warning
                  - info
                description: Severity level
    IntegrityPath:
      description: A path expression for referential integrity constraints. Supports camelCase field paths and x-inherit-* extension block paths
      type: string
      pattern: ^(x-inherit-[a-z][a-z0-9-]*|[a-z][a-zA-Z0-9]*)(\[\])?(\.[a-z][a-zA-Z0-9]*(\[\])?)*$
      maxLength: 200
    jurisdiction:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/common/jurisdiction.json
      title: Jurisdiction
      description: A legal jurisdiction identified by ISO 3166 codes. Succession law varies not just by country but by subdivision — Scotland differs from England and Wales, and US states have radically different rules
      $comment: https://www.iso.org/iso-3166-country-codes.html
      type: object
      required:
        - country
      properties:
        country:
          description: ISO 3166-1 alpha-2 country code. Always uppercase, exactly two letters
          $comment: https://www.iso.org/iso-3166-country-codes.html
          examples:
            - GB
            - US
            - JP
            - IN
            - NG
            - AE
            - SG
            - AU
          type: string
          pattern: ^[A-Z]{2}$
        subdivision:
          description: ISO 3166-2 subdivision code identifying a state, province, or territory with its own succession law
          $comment: ISO 3166-2. Most codes 2-3 chars; some historic codes longer — https://www.iso.org/standard/72483.html
          examples:
            - GB-SCT
            - GB-ENG
            - US-CA
            - US-TX
            - AU-NSW
            - IN-MH
            - NG-LA
          type: string
          pattern: ^[A-Z]{2}-[A-Z0-9]{1,6}$
          maxLength: 255
        legalSystems:
          description: 'The legal traditions governing succession in this jurisdiction. Multiple entries indicate a plural legal system (e.g. Singapore: common_law + islamic_law)'
          $comment: 'common_law: judge-made precedent (England and Wales, most US states, Australia). civil_law: codified statute (France, Germany, Japan). mixed: hybrid of common and civil law (Scotland, South Africa). customary_law: indigenous or tribal customary law. islamic_law: Islamic Shariah succession rules — only where legally binding in the jurisdiction (Singapore AMLA, not a Muslim in Manchester). hindu_law: Hindu succession law where legally binding (India HSA 1956). jewish_law: Jewish halachic succession law where legally binding. canon_law: Canon law where legally binding.'
          examples:
            - - common_law
            - - common_law
              - islamic_law
          type: array
          maxItems: 20
          uniqueItems: true
          items:
            enum:
              - common_law
              - civil_law
              - mixed
              - customary_law
              - islamic_law
              - hindu_law
              - jewish_law
              - canon_law
        name:
          description: Human-readable jurisdiction name for display purposes. Not authoritative — the country and subdivision codes are the canonical identifiers
          examples:
            - Scotland
            - California
            - New South Wales
            - Maharashtra
            - Lagos
          type: string
          maxLength: 255
      additionalProperties: false
    temporal-rule:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/common/temporal-rule.json
      title: TemporalRule
      description: A jurisdiction rule value with effective dates, legislative status, and change history
      $comment: Wraps any jurisdiction rule value with temporal legislation tracking. Use this for tax thresholds, exemption amounts, forced heirship fractions, and any value that changes when legislation changes. Enables historical lookback (what was the threshold when this gift was made?) and forward planning (what will the threshold be after the announced reform?).
      type: object
      required:
        - value
        - effectiveFrom
        - status
      properties:
        value:
          description: The actual rule value — a number (tax rate, threshold in minor units), boolean (rule applies or not), string (enum value, fraction), or object (complex rule). The consumer must interpret this in context
          $comment: JSON Schema 'number' includes integers. Do not add 'integer' separately — oneOf would fail because a value like 50 matches both.
          examples:
            - 32500000
            - true
            - '0.75'
            - per_child_sliding
          type:
            - number
            - boolean
            - string
            - object
        effectiveFrom:
          description: The date from which this rule value takes effect. For enacted legislation, this is the commencement date, not the date of royal assent
          $comment: https://www.iso.org/iso-8601-date-and-time-format.html
          examples:
            - '2023-01-01'
            - '2024-04-06'
            - '2027-01-01'
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          format: date
        effectiveUntil:
          description: The date this rule value was or will be superseded. Null means it is currently in effect with no known end date
          $comment: null = no known end date (current rule). A date = superseded on that date — https://www.iso.org/iso-8601-date-and-time-format.html
          examples:
            - '2024-04-05'
            - null
          anyOf:
            - type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              format: date
            - type: 'null'
        status:
          description: The legislative status of this rule. Only 'enacted' rules are legally binding — all others are prospective
          $comment: 'enacted: in force and legally binding. royal_assent: passed by legislature but not yet commenced. bill_stage: currently progressing through parliament or congress. consultation: proposed rule under public consultation. announced: government has stated intent but no formal legislation exists.'
          examples:
            - enacted
            - bill_stage
          enum:
            - enacted
            - royal_assent
            - bill_stage
            - consultation
            - announced
        predecessorValue:
          description: The previous value of this rule, for computing deltas and understanding the direction of change. Null if this is the first known value
          $comment: Same type flexibility as 'value', plus null for the first known value.
          examples:
            - 25000000
            - null
          type:
            - number
            - boolean
            - string
            - object
            - 'null'
        legislativeReference:
          description: Citation for the legislation that establishes this rule value. Include act name, section, and year
          $comment: e.g. 'Finance Act 2027 s.12', 'Swiss Civil Code Art. 471 (2023 revision)', 'Inheritance Tax Act 1984 s.7'
          examples:
            - Inheritance Tax Act 1984 s.7
            - Swiss Civil Code Art. 471 (2023 revision)
            - Finance Act 2027 s.12
          type: string
          maxLength: 500
        notes:
          description: Free-text commentary on this rule value — transitional provisions, known ambiguities, or political context
          examples:
            - Frozen at this level since 2009 — widely expected to increase in next Budget
          type: string
          maxLength: 2000
        jurisdiction:
          description: The jurisdiction this temporal rule applies to. Enables different thresholds for different jurisdictions (e.g. UK IHT vs Scottish IHT)
          $ref: '#/components/schemas/jurisdiction'
      additionalProperties: false
    money:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/common/money.json
      title: Money
      description: Monetary value in integer minor currency units with ISO 4217 code. Never floating point
      $comment: 'Display value = amount / 10^exponent. Default exponent is 2 (GBP, USD, EUR). Set 0 for JPY/KRW, 3 for KWD/BHD/OMR. Bounds (±999999999999999) ensure IEEE 754 double precision safety across all client languages including JavaScript. NOTE: `default` in JSON Schema is an annotation — validators do NOT fill it in. SDKs and consumers MUST implement the exponent default of 2 in code. See https://www.iso.org/iso-4217-currency-codes.html'
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          description: Value in the smallest currency unit (pence, cents, sen). The consumer must apply the ISO 4217 exponent to convert to a display value
          examples:
            - 32500
            - 1000000
            - 500000
            - 0
          type: integer
          maximum: 999999999999999
          minimum: -999999999999999
        currency:
          description: ISO 4217 three-letter currency code. Use the code for the currency of the amount, not the reporting currency
          $comment: https://www.iso.org/iso-4217-currency-codes.html
          examples:
            - GBP
            - USD
            - EUR
            - JPY
            - INR
            - AED
            - SGD
          type: string
          pattern: ^[A-Z]{3}$
        exponent:
          description: Number of decimal places for this currency. Display value = amount / 10^exponent. Most currencies use 2 (default). JPY/KRW use 0. KWD/BHD/OMR use 3
          default: 2
          type: integer
          maximum: 4
          minimum: 0
      additionalProperties: false
    uk-england-wales:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/extensions/uk-england-wales/uk-england-wales.json
      title: UK England & Wales Extension
      description: IHT thresholds, intestacy rules, IFPA 1975 eligibility, and legislative changes for England & Wales estates. Temporal-rule wrapping on key values.
      $comment: English intestacy (AEA 1925 s.46) is the primary use case for the core bloodDegree property. Implementers building English intestacy calculators should populate bloodDegree on all uncle_aunt and cousin kinship records. Whole blood takes absolute priority over half blood at sibling and uncle/aunt levels — they are separate tiers, not weighted shares.
      maturity: draft
      extensionType: geographic
      applicableJurisdictions:
        - GB
      inheritVersion: '>=2.0.0 <3.0.0'
      legalSystems:
        - common_law
      dataProvenance: Inheritance Tax Act 1984, Administration of Estates Act 1925, Inheritance (Provision for Family and Dependants) Act 1975
      maintainers:
        - name: Testate Technologies
          organisation: Testate Technologies Ltd
          role: lead
      compatibleWith:
        - islamic-succession
        - jewish-succession
        - hindu-succession
      type: object
      properties:
        intestacyStatutoryLegacy:
          $ref: '#/components/schemas/temporal-rule'
          $comment: 'Statutory legacy amount under Administration of Estates Act 1925. As of 2023: £322,000.'
        nilRateBand:
          $ref: '#/components/schemas/temporal-rule'
          $comment: IHT nil-rate band. Frozen at £325,000 since 2009.
        residenceNilRateBand:
          $ref: '#/components/schemas/temporal-rule'
          $comment: RNRB (main residence). Currently £175,000.
        transferableNilRateBand:
          type: boolean
          $comment: Whether the unused NRB of a predeceased spouse is available for transfer.
        transferableNilRateBandPercentage:
          type: number
          minimum: 0
          maximum: 100
          $comment: Percentage of the predeceased spouse's NRB available for transfer.
        inheritanceTaxRate:
          $ref: '#/components/schemas/temporal-rule'
          $comment: Main IHT rate. Currently 40%.
        cohabitantRights:
          type: object
          properties:
            applicable:
              type: boolean
            statute:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        ifpa1975Eligible:
          type: array
          items:
            type: object
            properties:
              personId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              category:
                type: string
                enum:
                  - spouse
                  - former_spouse
                  - child
                  - child_of_family
                  - maintained_person
                  - cohabitant
              notes:
                type: string
                maxLength: 2000
            required:
              - personId
              - category
            additionalProperties: false
          maxItems: 50
          $comment: Persons eligible to claim under Inheritance (Provision for Family and Dependants) Act 1975.
        localPropertyTypes:
          type: array
          items:
            type: object
            properties:
              propertyId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              localType:
                type: string
                enum:
                  - detached_house
                  - semi_detached_house
                  - terraced_house
                  - flat
                  - maisonette
                  - bungalow
                  - cottage
                  - farmhouse
                  - barn_conversion
                  - houseboat
                  - park_home
                  - other
            required:
              - propertyId
              - localType
            additionalProperties: false
          maxItems: 50
          $comment: Maps each property to its local E&W property type. The core propertyType holds the universal value; this provides the familiar local term.
        localTenureTypes:
          type: array
          items:
            type: object
            properties:
              propertyId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              localType:
                type: string
                enum:
                  - freehold
                  - leasehold
                  - commonhold
                  - share_of_freehold
            required:
              - propertyId
              - localType
            additionalProperties: false
          maxItems: 50
          $comment: 'Maps each property to its local E&W tenure type. commonhold: an alternative to leasehold introduced by the Commonhold and Leasehold Reform Act 2002. share_of_freehold: leaseholders collectively own the freehold.'
        localGrantTypes:
          type: array
          items:
            type: object
            properties:
              executorId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              localType:
                type: string
                enum:
                  - grant_of_probate
                  - letters_of_administration
                  - letters_of_administration_with_will_annexed
                  - limited_grant
                  - de_bonis_non
            required:
              - executorId
              - localType
            additionalProperties: false
          maxItems: 50
          $comment: 'Maps each executor to the local E&W grant type. limited_grant: grant limited in scope (e.g. foreign property excluded). de_bonis_non: grant for unadministered estate when original executor dies.'
        legislativeChanges:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
                maxLength: 2000
                minLength: 1
              status:
                type: string
                enum:
                  - enacted
                  - royal_assent
                  - bill_stage
                  - consultation
                  - announced
              effectiveDate:
                type: string
                format: date
                pattern: ^\d{4}-\d{2}-\d{2}$
              notes:
                type: string
                maxLength: 2000
            required:
              - description
              - status
            additionalProperties: false
          maxItems: 50
        intestacyHierarchy:
          description: Intestacy distribution hierarchy under the Administration of Estates Act 1925 s.46. Each tier takes priority over all lower tiers. Whole blood takes absolute priority over half blood at sibling and uncle/aunt levels
          type: array
          items:
            type: object
            required:
              - tier
              - relationshipCategory
            properties:
              tier:
                description: Priority rank (1 = highest)
                type: integer
                minimum: 1
                maximum: 9
              relationshipCategory:
                description: Kinship category for this tier
                enum:
                  - spouse
                  - children_and_issue
                  - parents
                  - siblings_whole
                  - siblings_half
                  - grandparents
                  - uncles_aunts_whole
                  - uncles_aunts_half
                  - crown
              bloodRequirement:
                description: Whether this tier requires whole or half blood
                $comment: 'Maps to core bloodDegree property. whole: only whole-blood relatives at this level. half: only half-blood relatives at this level. not_applicable: blood degree is irrelevant (e.g. spouse, parents, crown)'
                enum:
                  - whole
                  - half
                  - not_applicable
              notes:
                type: string
                maxLength: 500
            additionalProperties: false
        statutoryLegacy:
          description: The statutory legacy amount the surviving spouse receives before the kinship-based residuary distribution. Currently £322,000 (from 26 July 2023, SI 2023/877)
          $comment: This amount is periodically updated by statutory instrument. The value determines how much the spouse receives before children share in the residue
          type: object
          properties:
            amount:
              $ref: '#/components/schemas/money'
            effectiveFrom:
              type: string
              format: date
            statutoryInstrument:
              type: string
              maxLength: 100
      minProperties: 1
      patternProperties:
        ^x-inherit-[a-z][a-z0-9-]{1,54}$:
          type: object
          maxProperties: 50
          propertyNames:
            pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
            maxLength: 64
      unevaluatedProperties: false
      propertyNames:
        pattern: ^(x-inherit-[a-z][a-z0-9-]*|[a-z][a-zA-Z0-9]*)$
    scotland:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/extensions/scotland/scotland.json
      title: Scotland Extension
      description: Scottish succession law — prior rights, legal rights, confirmation, cohabitation claims under Family Law (Scotland) Act 2006, intestacy (Succession (Scotland) Act 1964 as amended 2024), heritable/moveable classification, executry, survivorship destinations, crofting succession, LBTT
      $comment: Scotland does NOT distinguish whole blood from half blood at any level. Half-siblings inherit equally with full siblings. This is a key difference from England & Wales. The core bloodDegree property is not relevant for Scottish intestacy.
      maturity: candidate
      dataProvenance: Succession (Scotland) Act 1964, Trusts and Succession (Scotland) Act 2024, Family Law (Scotland) Act 2006, Crofters (Scotland) Act 1993, Requirements of Writing (Scotland) Act 1995, Land and Buildings Transaction Tax (Scotland) Act 2013, Confirmation of Executors (Scotland) Act 1858
      type: object
      properties:
        priorRights:
          description: Prior rights of the surviving spouse/civil partner under Succession (Scotland) Act 1964 ss.8-9
          type: object
          properties:
            dwellinghouseRight:
              $ref: '#/components/schemas/temporal-rule'
              description: Right to dwellinghouse (s.8) — value threshold is a temporal rule
            furnitureRight:
              $ref: '#/components/schemas/temporal-rule'
              description: Right to furniture and plenishings (s.8) — value threshold
            financialProvision:
              $ref: '#/components/schemas/temporal-rule'
              description: Right to financial provision (s.9) — value threshold
          additionalProperties: false
        legalRights:
          description: Legal rights (jus relictae/jus relicti for spouse, legitim for children) — fixed fractions of moveable estate that cannot be defeated by will
          type: object
          properties:
            jusRelictae:
              description: Surviving spouse share of moveable estate (1/3 with children, 1/2 without)
              type: string
              maxLength: 10
            legitim:
              description: Children share of moveable estate (1/3 with surviving spouse, 1/2 without)
              type: string
              maxLength: 10
            deadsPart:
              description: Remaining moveable estate after legal rights — free to dispose by will
              type: string
              maxLength: 10
          additionalProperties: false
        confirmation:
          description: Scottish equivalent of probate — confirmation is granted by the Sheriff Court
          type: object
          properties:
            sheriffCourt:
              type: string
              maxLength: 255
              description: Which Sheriff Court has jurisdiction
            confirmationType:
              enum:
                - confirmation
                - small_estate_certificate
                - eik_confirmation
              description: Type of confirmation process
            inventoryValue:
              $ref: '#/components/schemas/money'
              description: Total value of estate for inventory purposes
            smallEstateThreshold:
              $ref: '#/components/schemas/temporal-rule'
              description: Threshold below which simplified procedure applies
          additionalProperties: false
        cohabitationClaim:
          description: Claims by cohabitants under Family Law (Scotland) Act 2006 s.29
          type: object
          properties:
            eligible:
              type: boolean
              description: Whether a cohabitant claim is likely
            cohabitantPersonId:
              type: string
              format: uuid
              description: Reference to the cohabitant in the people array
              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            cohabitationDuration:
              type: string
              maxLength: 100
              description: Duration of cohabitation (relevant to claim strength)
            claimDeadline:
              type: string
              format: date
              description: Deadline from date of death to raise action
              pattern: ^\d{4}-\d{2}-\d{2}$
            cohabitationStartDate:
              type: string
              format: date
              pattern: ^\d{4}-\d{2}-\d{2}$
            cohabitationEndDate:
              type: string
              format: date
              pattern: ^\d{4}-\d{2}-\d{2}$
            claimDeadlineVersion:
              type: string
              enum:
                - pre_2024_six_months
                - post_2024_twelve_months
            externalBenefits:
              type: array
              items:
                type: object
                properties:
                  description:
                    type: string
                    maxLength: 500
                  amount:
                    $ref: '#/components/schemas/money'
                additionalProperties: false
              maxItems: 20
            courtOrderType:
              type: string
              enum:
                - capital_sum
                - property_transfer
                - none
                - pending
            awardAmount:
              $ref: '#/components/schemas/money'
            courtReference:
              type: string
              maxLength: 255
          additionalProperties: false
        forcedHeirship:
          description: Scotland has no forced heirship for heritable property — only legal rights apply to moveables. This field records whether the testator has attempted to defeat legal rights.
          type: object
          properties:
            legalRightsDefeated:
              type: boolean
              description: Whether the will attempts to defeat legal rights
            discharged:
              type: boolean
              description: Whether children have formally discharged their legal rights
            dischargeDetails:
              type: string
              maxLength: 1000
          additionalProperties: false
        legislativeChanges:
          description: Tracked changes to Scottish succession legislation
          type: array
          items:
            $ref: '#/components/schemas/temporal-rule'
        notes:
          type: string
          maxLength: 2000
        intestacy:
          description: Intestacy calculation under Succession (Scotland) Act 1964 as amended by Trusts and Succession (Scotland) Act 2024
          type: object
          properties:
            applicable:
              type: boolean
            partial:
              type: boolean
              description: Whether this is partial intestacy (will exists but doesn't cover all estate)
            rulesVersion:
              type: string
              enum:
                - pre_2024
                - post_2024
              description: Which ranking order applies (post_2024 for deaths on or after 1 May 2024)
            priorRightsClaimed:
              type: object
              properties:
                dwellinghouseValue:
                  $ref: '#/components/schemas/money'
                dwellinghouseCapped:
                  type: boolean
                furnitureValue:
                  $ref: '#/components/schemas/money'
                financialProvision:
                  $ref: '#/components/schemas/money'
                financialProvisionRate:
                  type: string
                  enum:
                    - with_children
                    - without_children
              additionalProperties: false
            legalRightsClaimed:
              type: object
              properties:
                jusRelictaeAmount:
                  $ref: '#/components/schemas/money'
                legitimAmount:
                  $ref: '#/components/schemas/money'
                legitimPerChild:
                  $ref: '#/components/schemas/money'
                numberOfEligibleChildren:
                  type: integer
                  minimum: 0
              additionalProperties: false
            netMoveableEstate:
              $ref: '#/components/schemas/money'
            freeEstate:
              $ref: '#/components/schemas/money'
            freeEstateDistribution:
              $comment: 'Mapping of Scottish intestacy ranks to core kinship types: Rank 1: children (parent_child_*). Rank 2: parents and siblings equally (parent_child_*, sibling, half_sibling). Rank 3: surviving spouse (if no rank 1 or 2 — spouse gets prior rights regardless but free estate only if no descendants/siblings/parents). Rank 4: uncles/aunts (uncle_aunt). Rank 5: grandparents (grandparent_grandchild). Rank 6: Crown (Crown Office/King''s and Lord Treasurer''s Remembrancer)'
              type: array
              items:
                type: object
                properties:
                  personId:
                    type: string
                    format: uuid
                    pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                  rank:
                    type: integer
                    minimum: 1
                  share:
                    type: string
                    maxLength: 20
                  amount:
                    $ref: '#/components/schemas/money'
                required:
                  - personId
                additionalProperties: false
              maxItems: 50
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        heritableMoveableClassifications:
          description: Classification of estate items as heritable or moveable under Scots law — legal rights apply only to moveables
          type: array
          items:
            type: object
            properties:
              entityType:
                type: string
                enum:
                  - property
                  - asset
              entityId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              classification:
                type: string
                enum:
                  - heritable
                  - moveable
              basis:
                type: string
                maxLength: 500
              overridden:
                type: boolean
            required:
              - entityType
              - entityId
              - classification
            additionalProperties: false
          maxItems: 500
        totalHeritableValue:
          $ref: '#/components/schemas/money'
          description: Sum of all heritable items
        totalMoveableValue:
          $ref: '#/components/schemas/money'
          description: Sum of all moveable items
        executryAppointments:
          description: Scottish-specific executor appointment details — nominate (by will), dative (by court), creditor (by creditor petition)
          type: array
          items:
            type: object
            properties:
              executorId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              appointmentType:
                type: string
                enum:
                  - executor_nominate
                  - executor_dative
                  - executor_creditor
              bondOfCaution:
                type: object
                properties:
                  required:
                    type: boolean
                  obtained:
                    type: boolean
                  provider:
                    type: string
                    maxLength: 255
                  amount:
                    $ref: '#/components/schemas/money'
                  reference:
                    type: string
                    maxLength: 255
                additionalProperties: false
              appointedBy:
                type: string
                maxLength: 255
              courtPetitionDate:
                type: string
                format: date
                pattern: ^\d{4}-\d{2}-\d{2}$
            required:
              - executorId
              - appointmentType
            additionalProperties: false
          maxItems: 20
        survivorshipDestinations:
          description: Properties with survivorship destinations ('to A and B and the survivor') — pass outside the estate, overriding any will
          type: array
          items:
            type: object
            properties:
              propertyId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              destinationType:
                type: string
                enum:
                  - survivorship
                  - pro_indiviso
              survivorPersonIds:
                type: array
                items:
                  type: string
                  format: uuid
                  pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                maxItems: 10
              passesOutsideEstate:
                type: boolean
              evacuated:
                type: boolean
              evacuationMethod:
                type: string
                enum:
                  - agreement
                  - divorce_automatic
                  - court_order
              evacuationDate:
                type: string
                format: date
                pattern: ^\d{4}-\d{2}-\d{2}$
              titleReference:
                type: string
                maxLength: 255
              notes:
                type: string
                maxLength: 2000
            required:
              - propertyId
              - destinationType
            additionalProperties: false
          maxItems: 50
        croftingSuccession:
          description: Crofting succession under Crofters (Scotland) Act 1993 — special rules for crofting tenancies
          type: object
          properties:
            hasCroft:
              type: boolean
            crofts:
              type: array
              items:
                type: object
                properties:
                  propertyId:
                    type: string
                    format: uuid
                    pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                  croftingRegisterNumber:
                    type: string
                    maxLength: 100
                  tenureType:
                    type: string
                    enum:
                      - tenant
                      - owner_occupier
                      - absentee
                  landlordName:
                    type: string
                    maxLength: 255
                  successionRoute:
                    type: string
                    enum:
                      - bequest
                      - intestate_transfer
                      - not_yet_determined
                  legateePersonId:
                    type: string
                    format: uuid
                    pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                  legateeNotifiedLandlord:
                    type: boolean
                  legateeNotifiedCommission:
                    type: boolean
                  notificationDeadline:
                    type: string
                    format: date
                    pattern: ^\d{4}-\d{2}-\d{2}$
                  notificationDate:
                    type: string
                    format: date
                    pattern: ^\d{4}-\d{2}-\d{2}$
                  landlordObjection:
                    type: boolean
                  commissionDecision:
                    type: string
                    enum:
                      - pending
                      - approved
                      - refused
                  agriculturalPropertyRelief:
                    type: boolean
                  notes:
                    type: string
                    maxLength: 2000
                required:
                  - propertyId
                  - tenureType
                additionalProperties: false
              maxItems: 20
          additionalProperties: false
        willFormalities:
          description: Scottish will formalities under Requirements of Writing (Scotland) Act 1995
          type: object
          properties:
            documentId:
              type: string
              format: uuid
              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            executionType:
              type: string
              enum:
                - attested
                - holograph
                - notarial
            witnessCount:
              type: integer
              minimum: 0
              maximum: 10
            probative:
              type: boolean
            notarialExecutorName:
              type: string
              maxLength: 255
            notarialExecutorRole:
              type: string
              enum:
                - solicitor
                - advocate
                - justice_of_peace
                - sheriff_clerk
            marriageRevokes:
              type: boolean
              description: Always false in Scotland — marriage does not revoke a will
            registeredWithRegisterOfDeeds:
              type: boolean
            registerReference:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        lbttExemption:
          description: LBTT succession exemption under LBTT(S) Act 2013 — estate transfers are exempt, but inherited dwellings affect ADS
          type: object
          properties:
            exempt:
              type: boolean
            adsImplication:
              type: boolean
              description: Whether inherited dwellings create Additional Dwelling Supplement exposure
            adsAffectedPersonIds:
              type: array
              items:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              maxItems: 50
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
      minProperties: 1
      patternProperties:
        ^x-inherit-[a-z][a-z0-9-]{1,54}$:
          type: object
          maxProperties: 50
          propertyNames:
            pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
            maxLength: 64
      unevaluatedProperties: false
      propertyNames:
        pattern: ^(x-inherit-[a-z][a-z0-9-]*|[a-z][a-zA-Z0-9]*)$
    ireland:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/extensions/ireland/ireland.json
      title: Ireland Extension
      description: Irish succession law — Succession Act 1965, spouse legal right share, Section 117 moral duty provision, Capital Acquisitions Tax, intestacy distribution, dwelling house exemption, civil partnership provisions
      $comment: Ireland does NOT distinguish whole blood from half blood. Siblings and their issue inherit equally regardless of blood degree.
      type: object
      properties:
        spouseLegalRightShare:
          description: Spouse legal right share under Succession Act 1965 s.111 — 1/3 with children, 1/2 without. Cannot be defeated by will.
          type: object
          properties:
            fraction:
              type: string
              maxLength: 10
              description: 1/3 (with children) or 1/2 (without children)
            hasChildren:
              type: boolean
            renounced:
              type: boolean
              description: Whether spouse has renounced their legal right share
          additionalProperties: false
        section117Claim:
          description: Section 117 moral duty provision — court can order provision for children if testator failed in moral duty
          type: object
          properties:
            applicable:
              type: boolean
            claimantPersonIds:
              type: array
              items:
                type: string
                format: uuid
            claimDeadlineMonths:
              type: integer
              description: 6 months from first extraction of grant of probate
          additionalProperties: false
        capitalAcquisitionsTax:
          description: Capital Acquisitions Tax (CAT) thresholds — Irish equivalent of inheritance tax
          $comment: 'CAT group → kinship type mapping: Group A (€335,000 threshold): parent_child_biological, parent_child_adopted, grandparent_grandchild (minor grandchild of predeceased child only). Group B (€32,500): sibling, half_sibling, uncle_aunt, cousin, grandparent_grandchild (adult grandchild). Group C (€16,250): all others. These thresholds make kinship classification directly relevant to tax calculation.'
          type: object
          properties:
            groupAThreshold:
              $ref: '#/components/schemas/temporal-rule'
              description: 'Group A: child from parent'
            groupBThreshold:
              $ref: '#/components/schemas/temporal-rule'
              description: 'Group B: sibling, niece/nephew, grandchild'
            groupCThreshold:
              $ref: '#/components/schemas/temporal-rule'
              description: 'Group C: all others'
            taxRate:
              $ref: '#/components/schemas/temporal-rule'
              description: Current CAT rate (33%)
          additionalProperties: false
        probateProcess:
          description: Irish probate process — Probate Office or District Probate Registry
          type: object
          properties:
            probateOffice:
              type: string
              maxLength: 255
            inlandRevenueAffidavit:
              type: boolean
              description: Whether Revenue Commissioners affidavit (Form SA.2) filed
            grantType:
              enum:
                - probate
                - administration_with_will
                - administration_intestacy
                - administration_de_bonis_non
          additionalProperties: false
        enduringPowerOfAttorney:
          description: Irish EPA — different from English LPA. Must be registered with the court before it can be used.
          type: object
          properties:
            registered:
              type: boolean
            registrationDate:
              type: string
              format: date
              pattern: ^\d{4}-\d{2}-\d{2}$
            attorneyPersonIds:
              type: array
              items:
                type: string
                format: uuid
          additionalProperties: false
        intestacyRules:
          description: Distribution order under Part VI of the Succession Act 1965
          type: object
          properties:
            distributionOrder:
              enum:
                - spouse_only
                - spouse_and_children
                - children_only
                - parents
                - siblings
                - nephews_nieces
                - grandparents
                - uncles_aunts
                - first_cousins
                - next_of_kin
            hasSpouse:
              type: boolean
            hasIssue:
              type: boolean
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        dwellingHouseExemption:
          description: CAT Section 86 dwelling house exemption — inherited home exempt if beneficiary lived there 3+ years prior and continues 6 years after
          type: object
          properties:
            claimed:
              type: boolean
            propertyId:
              type: string
              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            residencePeriodYears:
              type: integer
              minimum: 3
            noOtherResidentialInterest:
              type: boolean
            continuingResidenceRequired:
              type: boolean
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        civilPartnershipProvisions:
          description: Civil Partnership and Certain Rights and Obligations of Cohabitants Act 2010
          type: object
          properties:
            civilPartner:
              type: boolean
            qualifiedCohabitant:
              type: boolean
              description: 5 years cohabitation or 2 years with dependent child
            cohabitantRedressSchemeApplied:
              type: boolean
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        section56Advancement:
          description: Advancement provisions under Section 56 of the Succession Act 1965 — lifetime gifts to children brought into account on intestacy
          type: object
          properties:
            advancementsRecorded:
              type: boolean
            advancements:
              type: array
              items:
                type: object
                properties:
                  personId:
                    type: string
                    pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                  amount:
                    $ref: '#/components/schemas/money'
                  description:
                    type: string
                    maxLength: 500
                required:
                  - personId
                additionalProperties: false
              maxItems: 50
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        legislativeChanges:
          description: Tracked changes to Irish succession legislation
          type: array
          items:
            $ref: '#/components/schemas/temporal-rule'
          maxItems: 50
        notes:
          type: string
          maxLength: 2000
      minProperties: 1
      patternProperties:
        ^x-inherit-[a-z][a-z0-9-]{1,54}$:
          type: object
          maxProperties: 50
          propertyNames:
            pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
            maxLength: 64
      unevaluatedProperties: false
      propertyNames:
        pattern: ^(x-inherit-[a-z][a-z0-9-]*|[a-z][a-zA-Z0-9]*)$
    us-estate:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/extensions/us-estate/us-estate.json
      title: US Estate Extension
      description: 'US-specific estate planning: federal and state estate tax, community/separate property regimes, elective share, homestead exemptions, per stirpes variants, no-contest clauses, pretermitted heir statutes, RUFADAA, Louisiana forced heirship, probate variation, trust features, SECURE Act retirement rules, ancillary probate, advance directives.'
      maturity: candidate
      extensionType: geographic
      applicableJurisdictions:
        - US
      inheritVersion: '>=2.0.0 <3.0.0'
      legalSystems:
        - common_law
      dataProvenance: Internal Revenue Code (Title 26), Tax Cuts and Jobs Act 2017, SECURE Act 2019, SECURE 2.0 Act 2022, Uniform Probate Code, Uniform Trust Code, Uniform Health Care Decisions Act, Uniform Power of Attorney Act, RUFADAA, state community property statutes
      maintainers:
        - name: Testate Technologies
          organisation: Testate Technologies Ltd
          role: lead
      compatibleWith:
        - islamic-succession
        - jewish-succession
        - hindu-succession
      type: object
      properties:
        state:
          description: US state in ISO 3166-2 format (e.g. US-CA, US-NY) — determines which state succession, property regime, and tax laws apply
          type: string
          maxLength: 255
          pattern: ^US-[A-Z]{2}$
          $comment: ISO 3166-2 US-XX
        propertyRegime:
          type: string
          enum:
            - community_property
            - community_property_with_survivorship
            - separate_property
            - quasi_community
        electiveShareDetails:
          type: object
          properties:
            available:
              type: boolean
            electedPercentage:
              type: number
              minimum: 0
              maximum: 100
            augmentedEstateIncludes:
              type: string
              maxLength: 255
            statute:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        homesteadExemptions:
          type: array
          items:
            type: object
            properties:
              propertyId:
                type: string
                format: uuid
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
              exemptionAmount:
                $ref: '#/components/schemas/money'
              constitutional:
                type: boolean
              notes:
                type: string
                maxLength: 2000
            required:
              - propertyId
            additionalProperties: false
          maxItems: 50
        perStirpesVariant:
          type: string
          enum:
            - strict_per_stirpes
            - modern_per_stirpes
            - per_capita_at_each_generation
        noContestEnforceable:
          type: boolean
        pretermittedHeirStatute:
          type: string
          maxLength: 255
        rufadaaAdopted:
          type: boolean
          $comment: Revised Uniform Fiduciary Access to Digital Assets Act
        louisianaForcedHeirship:
          type: object
          properties:
            applicable:
              type: boolean
            eligibleChildren:
              type: array
              items:
                type: object
                properties:
                  personId:
                    type: string
                    format: uuid
                    pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                  ageOrCondition:
                    type: string
                    maxLength: 255
                additionalProperties: false
              maxItems: 50
            reservedPortion:
              type: number
              minimum: 0
              maximum: 100
            basis:
              type: string
              enum:
                - fixed
                - conditional
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        notes:
          type: string
          maxLength: 2000
        federalEstateTax:
          description: Federal estate tax under IRC Title 26 — exemption, portability, GSTT
          type: object
          properties:
            basicExclusionAmount:
              $ref: '#/components/schemas/temporal-rule'
              description: Unified credit equivalent, currently $13.61M (2024), TCJA sunset 2026
            topMarginalRate:
              type: number
              minimum: 0
              maximum: 100
              description: Currently 40%
            portabilityElected:
              type: boolean
              description: Whether deceased spouse's unused exclusion (DSUE) is being elected
            dsueAmount:
              $ref: '#/components/schemas/money'
            gsttExemption:
              $ref: '#/components/schemas/temporal-rule'
            gsttRate:
              type: number
              minimum: 0
              maximum: 100
            form706Required:
              type: boolean
            form706Filed:
              type: boolean
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        stateEstateTax:
          description: State-level estate and inheritance tax — 12 states + DC have estate tax, 6 states have inheritance tax
          type: object
          properties:
            hasEstateTax:
              type: boolean
            hasInheritanceTax:
              type: boolean
            estateExemption:
              $ref: '#/components/schemas/temporal-rule'
            topEstateRate:
              type: number
              minimum: 0
              maximum: 100
            coupledToFederalExemption:
              type: boolean
            inheritanceTaxClasses:
              type: array
              items:
                type: object
                properties:
                  className:
                    type: string
                    maxLength: 100
                  relationships:
                    type: string
                    maxLength: 500
                  exemption:
                    $ref: '#/components/schemas/money'
                  topRate:
                    type: number
                    minimum: 0
                    maximum: 100
                additionalProperties: false
              maxItems: 10
            statute:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        probateVariation:
          description: State probate process variation — UPC adoption, thresholds, administration types
          type: object
          properties:
            upcAdopted:
              type: boolean
            upcEdition:
              type: string
              maxLength: 50
            smallEstateAffidavitThreshold:
              $ref: '#/components/schemas/temporal-rule'
            simplifiedProbateThreshold:
              $ref: '#/components/schemas/temporal-rule'
            administrationType:
              type: string
              enum:
                - supervised
                - unsupervised
                - independent
                - informal
            bondRequired:
              type: boolean
            statute:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        trustFeatures:
          description: US-specific trust qualifiers — does not duplicate core trust.json, captures state-level features
          type: object
          properties:
            pourOverWill:
              type: boolean
            abTrustPlanning:
              type: boolean
            qtipElectionAvailable:
              type: boolean
            qtipElectionMade:
              type: boolean
            dynastyTrustState:
              type: boolean
            maximumTrustDuration:
              type: string
              maxLength: 100
            decantingPermitted:
              type: boolean
            decantingStatute:
              type: string
              maxLength: 255
            directedTrustPermitted:
              type: boolean
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        retirementAccountRules:
          description: SECURE Act retirement account distribution rules — 10-year rule, eligible designated beneficiaries
          type: object
          properties:
            secureActApplies:
              type: boolean
            rmdAge:
              $ref: '#/components/schemas/temporal-rule'
              description: Required minimum distribution age (73 from 2023, 75 from 2033)
            eligibleDesignatedBeneficiaries:
              type: array
              items:
                type: object
                properties:
                  personId:
                    type: string
                    format: uuid
                    pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                  edbCategory:
                    type: string
                    enum:
                      - surviving_spouse
                      - minor_child
                      - disabled
                      - chronically_ill
                      - not_more_than_10_years_younger
                required:
                  - personId
                  - edbCategory
                additionalProperties: false
              maxItems: 50
            todDeedAvailable:
              type: boolean
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        intestacyRules:
          description: State-specific intestacy variation — surviving spouse share, property rules
          type: object
          properties:
            survivingSpouseShare:
              type: string
              maxLength: 500
            survivingSpouseShareStatute:
              type: string
              maxLength: 255
            separatePropertyRule:
              type: string
              maxLength: 500
            communityPropertyRule:
              type: string
              maxLength: 500
            adoptedChildrenEqual:
              type: boolean
            halfBloodRule:
              type: string
              $comment: Most states apply the same half-blood rule at all kinship levels. Some states (e.g. Florida) treat half-blood differently at uncle/aunt level. Implementers should apply the rule to uncle_aunt kinship records using the core bloodDegree property
              enum:
                - equal_to_whole_blood
                - half_share
                - excluded
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        ancillaryProbate:
          description: Ancillary probate proceedings when the decedent owns property in multiple states
          type: array
          items:
            type: object
            properties:
              state:
                type: string
                pattern: ^US-[A-Z]{2}$
                maxLength: 5
              propertyIds:
                type: array
                items:
                  type: string
                  format: uuid
                  pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                maxItems: 50
              acceptsDomiciliaryLetters:
                type: boolean
              status:
                type: string
                enum:
                  - not_filed
                  - filed
                  - granted
                  - completed
                  - waived
              caseNumber:
                type: string
                maxLength: 100
              notes:
                type: string
                maxLength: 2000
            required:
              - state
            additionalProperties: false
          maxItems: 50
        advanceDirectives:
          description: US-specific advance directive and POA features — UHCDA, UPOAA, HIPAA
          type: object
          properties:
            uhcdaAdopted:
              type: boolean
            upoaaAdopted:
              type: boolean
            hipaaAuthorisationOnFile:
              type: boolean
            healthcareDirectiveType:
              type: string
              enum:
                - living_will
                - healthcare_proxy
                - combined_directive
                - polst
                - none
            stateMandatoryForm:
              type: boolean
            financialPoaType:
              type: string
              enum:
                - durable
                - springing
                - limited
                - none
            statute:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        communityPropertyDetails:
          description: Elaborates the propertyRegime enum — specifics for community property states
          type: object
          properties:
            communityPropertyState:
              type: string
              enum:
                - US-AZ
                - US-CA
                - US-ID
                - US-LA
                - US-NV
                - US-NM
                - US-TX
                - US-WA
                - US-WI
                - US-AK
                - US-TN
                - US-SD
            optInCommunityProperty:
              type: boolean
              description: Alaska, Tennessee, South Dakota allow opting in
            transmutationPermitted:
              type: boolean
            prenuptialAgreement:
              type: boolean
            postnuptialAgreement:
              type: boolean
            fullBasisStepUp:
              type: boolean
              description: CPWROS gets full step-up in basis for both halves under IRC s.1014(b)(6)
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        intestacyDepth:
          description: How deeply the state's intestacy rules extend into the kinship tree
          type: object
          properties:
            upcCompliant:
              description: Whether the state follows the Uniform Probate Code's 2nd parentelic limit
              type: boolean
            maxParentele:
              description: 'How many parentelic orders the state recognises. UPC states: 2. States like California: 3+'
              type: integer
              minimum: 1
              maximum: 5
            laughingHeirCutoff:
              description: Whether the state limits inheritance to prevent distant relatives from inheriting
              type: boolean
        collateralHeirRules:
          description: Rules governing collateral heirs (uncles/aunts, cousins) in this state's intestacy scheme
          type: object
          properties:
            cousinInheritance:
              description: Whether first cousins can inherit on intestacy in this state
              type: boolean
            representationAtCollateralLevel:
              description: Whether per stirpes representation applies to uncles/aunts and cousins
              type: boolean
      required:
        - state
      minProperties: 1
      patternProperties:
        ^x-inherit-[a-z][a-z0-9-]{1,54}$:
          type: object
          maxProperties: 50
          propertyNames:
            pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
            maxLength: 64
      unevaluatedProperties: false
      propertyNames:
        pattern: ^(x-inherit-[a-z][a-z0-9-]*|[a-z][a-zA-Z0-9]*)$
    QuebecPatrimony:
      type: object
      properties:
        applicable:
          type: boolean
        patrimonyValue:
          $ref: '#/components/schemas/money'
        equalisation:
          type: string
          maxLength: 255
        notes:
          type: string
          maxLength: 2000
      additionalProperties: false
    OntarioEqualization:
      type: object
      properties:
        netFamilyProperty:
          $ref: '#/components/schemas/money'
        equalizationPayment:
          $ref: '#/components/schemas/money'
        canBeNegative:
          type: boolean
          $comment: Ontario equalization can result in negative NFP
        notes:
          type: string
          maxLength: 2000
      additionalProperties: false
    BCWESAVariation:
      type: object
      properties:
        variationApplied:
          type: boolean
        courtReference:
          type: string
          maxLength: 500
        notes:
          type: string
          maxLength: 2000
      additionalProperties: false
    AlbertaDower:
      type: object
      properties:
        dowerRight:
          type: boolean
        spousePersonId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        propertyId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        consentGiven:
          type: boolean
        notes:
          type: string
          maxLength: 2000
      required:
        - dowerRight
      additionalProperties: false
    IndigenousLandDetails:
      type: object
      properties:
        propertyId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        reserveName:
          type: string
          maxLength: 255
        treatyNumber:
          type: string
          maxLength: 255
        landType:
          type: string
          enum:
            - reserve
            - treaty
            - fee_simple_on_reserve
            - certificate_of_possession
        successionRestrictions:
          type: string
          maxLength: 255
        notes:
          type: string
          maxLength: 2000
      required:
        - propertyId
        - landType
      additionalProperties: false
    canada:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/extensions/canada/canada.json
      title: Canada Extension
      description: 'Provincial succession rules for Canada: Quebec patrimony, Ontario equalization, BC WESA variation, Alberta dower rights, and Indigenous land succession details.'
      $comment: Canadian provinces generally do NOT distinguish whole blood from half blood. Half-siblings inherit equally with full siblings in all provinces.
      maturity: draft
      extensionType: geographic
      applicableJurisdictions:
        - CA
      inheritVersion: '>=2.0.0 <3.0.0'
      legalSystems:
        - common_law
        - civil_law
      dataProvenance: Civil Code of Québec, Ontario Succession Law Reform Act, BC WESA, Alberta Wills and Succession Act
      maintainers:
        - name: Testate Technologies
          organisation: Testate Technologies Ltd
          role: lead
      compatibleWith:
        - islamic-succession
        - jewish-succession
        - hindu-succession
      type: object
      $defs:
        QuebecPatrimony:
          type: object
          properties:
            applicable:
              type: boolean
            patrimonyValue:
              $ref: '#/components/schemas/money'
            equalisation:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        OntarioEqualization:
          type: object
          properties:
            netFamilyProperty:
              $ref: '#/components/schemas/money'
            equalizationPayment:
              $ref: '#/components/schemas/money'
            canBeNegative:
              type: boolean
              $comment: Ontario equalization can result in negative NFP
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        BCWESAVariation:
          type: object
          properties:
            variationApplied:
              type: boolean
            courtReference:
              type: string
              maxLength: 500
            notes:
              type: string
              maxLength: 2000
          additionalProperties: false
        AlbertaDower:
          type: object
          properties:
            dowerRight:
              type: boolean
            spousePersonId:
              type: string
              format: uuid
              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            propertyId:
              type: string
              format: uuid
              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            consentGiven:
              type: boolean
            notes:
              type: string
              maxLength: 2000
          required:
            - dowerRight
          additionalProperties: false
        IndigenousLandDetails:
          type: object
          properties:
            propertyId:
              type: string
              format: uuid
              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            reserveName:
              type: string
              maxLength: 255
            treatyNumber:
              type: string
              maxLength: 255
            landType:
              type: string
              enum:
                - reserve
                - treaty
                - fee_simple_on_reserve
                - certificate_of_possession
            successionRestrictions:
              type: string
              maxLength: 255
            notes:
              type: string
              maxLength: 2000
          required:
            - propertyId
            - landType
          additionalProperties: false
      properties:
        province:
          description: Canadian province or territory whose succession law applies. Critical — every province has different intestacy rules, preferential shares, and property regimes
          type: string
          pattern: ^CA-[A-Z]{2}$
          $comment: ISO 3166-2:CA subdivision codes. All 13 provinces and territories enumerated.
          enum:
            - CA-AB
            - CA-BC
            - CA-MB
            - CA-NB
            - CA-NL
            - CA-NS
            - CA-NT
            - CA-NU
            - CA-ON
            - CA-PE
            - CA-QC
            - CA-SK
            - CA-YT
        quebecPatrimony:
          $ref: '#/components/schemas/QuebecPatrimony'
        ontarioEqualization:
          $ref: '#/components/schemas/OntarioEqualization'
        bcWesaVariation:
          $ref: '#/components/schemas/BCWESAVariation'
        albertaDower:
          $ref: '#/components/schemas/AlbertaDower'
        indigenousLandDetails:
          type: array
          items:
            $ref: '#/components/schemas/IndigenousLandDetails'
          maxItems: 50
        intestacyRules:
          description: Provincial intestacy distribution rules
          type: object
          properties:
            distributionOrder:
              description: Hierarchy of intestate heirs under the applicable provincial succession act
              enum:
                - spouse_only
                - spouse_and_children
                - children_only
                - parents
                - siblings
                - nephews_nieces
                - grandparents
                - uncles_aunts
                - crown
            preferentialShare:
              description: Amount the surviving spouse receives before sharing with children. Varies by province (e.g. ON $350,000, BC $300,000, AB $150,000)
              $ref: '#/components/schemas/money'
            notes:
              type: string
              maxLength: 1000
        quebecCivilLaw:
          description: Quebec-specific civil law provisions. Quebec is the only Canadian province using a civil law system, with forced heirship via family patrimony
          type: object
          properties:
            forcedHeirship:
              description: Whether Quebec forced heirship (family patrimony) applies
              type: boolean
            familyPatrimonyApplies:
              description: Whether the family patrimony regime applies to divide family assets equally between spouses
              type: boolean
            notes:
              type: string
              maxLength: 1000
        notes:
          type: string
          maxLength: 2000
      required:
        - province
      minProperties: 1
      patternProperties:
        ^x-inherit-[a-z][a-z0-9-]{1,54}$:
          type: object
          maxProperties: 50
          propertyNames:
            pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
            maxLength: 64
      unevaluatedProperties: false
      propertyNames:
        pattern: ^(x-inherit-[a-z][a-z0-9-]*|[a-z][a-zA-Z0-9]*)$
    SuperannuationNomination:
      type: object
      properties:
        assetId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        fundType:
          type: string
          enum:
            - smsf
            - industry
            - retail
            - public_sector
            - corporate
        nominationType:
          type: string
          enum:
            - bdbn_lapsing
            - bdbn_non_lapsing
            - non_binding
            - reversionary_pension
        binding:
          type: boolean
        expiryDate:
          type: string
          format: date
          pattern: ^\d{4}-\d{2}-\d{2}$
        expiryRule:
          type: string
          maxLength: 255
        trusteeDiscretion:
          type: boolean
        nominatedPersonIds:
          type: array
          items:
            type: string
            format: uuid
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          maxItems: 50
          uniqueItems: true
        taxableComponent:
          $ref: '#/components/schemas/money'
        taxFreeComponent:
          $ref: '#/components/schemas/money'
        notes:
          type: string
          maxLength: 2000
      required:
        - assetId
        - nominationType
      additionalProperties: false
    FamilyProvisionClaim:
      type: object
      properties:
        claimantPersonId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        relationship:
          type: string
          maxLength: 255
        relationshipCategory:
          description: Statutory relationship category for family provision eligibility
          type: string
          $comment: 'Categories vary by state/territory. spouse: spouse or de facto partner. child: child including adopted. former_spouse: former spouse. dependant: person maintained by the deceased. grandchild: grandchild (some states e.g. Qld). step_child: step-child. member_of_household: person who was a member of the deceased''s household'
          enum:
            - spouse
            - child
            - former_spouse
            - dependant
            - grandchild
            - step_child
            - member_of_household
        statute:
          type: string
          maxLength: 255
        eligibleUnderStatute:
          type: boolean
        limitationPeriod:
          type: string
          maxLength: 255
        notionalEstateEngaged:
          type: boolean
          $comment: NSW-specific
        claimFiled:
          type: boolean
        filedDate:
          type: string
          format: date
          pattern: ^\d{4}-\d{2}-\d{2}$
        outcome:
          type: string
          enum:
            - pending
            - upheld
            - dismissed
            - settled
        notes:
          type: string
          maxLength: 2000
      required:
        - claimantPersonId
      additionalProperties: false
    AboriginalLandDetails:
      type: object
      properties:
        propertyId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        landType:
          type: string
          enum:
            - native_title
            - alra
            - aboriginal_freehold
            - ilua
            - torres_strait
        nativeTitleDetermination:
          type: string
          maxLength: 255
        landCouncil:
          type: string
          maxLength: 255
        successionRestrictions:
          type: string
          maxLength: 255
        notes:
          type: string
          maxLength: 2000
        customaryAdoptionRecognised:
          description: Whether customary adoption (including Torres Strait Islander kupai omasker under the Meriba Omasker Kaziw Kazipa Act 2020 Qld) is recognised for succession to this land
          $comment: 'NSW Succession Act 2006 Part 4.4 allows Aboriginal customary law to override standard intestacy rules for close relatives according to the Indigenous deceased person''s laws and customs. In the core schema, customary adoption is modelled as parent_child_adopted + legalBasis: customary_adoption'
          type: boolean
      required:
        - propertyId
        - landType
      additionalProperties: false
    NZPropertyRelationshipsAct:
      type: object
      properties:
        applicable:
          type: boolean
        relationshipProperty:
          $ref: '#/components/schemas/money'
        separateProperty:
          $ref: '#/components/schemas/money'
        optingOutAgreement:
          type: boolean
        notes:
          type: string
          maxLength: 2000
      additionalProperties: false
    TestamentaryPromise:
      type: object
      properties:
        claimantPersonId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        promiseDescription:
          type: string
          maxLength: 2000
        statute:
          type: string
          maxLength: 255
        status:
          type: string
          maxLength: 100
        notes:
          type: string
          maxLength: 2000
      required:
        - claimantPersonId
      additionalProperties: false
    MaoriLandDetails:
      type: object
      properties:
        propertyId:
          type: string
          format: uuid
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
        landBlockIdentifier:
          type: string
          maxLength: 255
        maoriLandCourtReference:
          type: string
          maxLength: 500
        successionUnderTeTureWhenua:
          type: boolean
        whangaiRecognised:
          description: 'Whether a whangai (Maori customary adoption) relationship is recognised by the Maori Land Court for succession to this land block. In the core schema, whangai is modelled as parent_child_adopted + legalBasis: customary_adoption'
          type: boolean
        whangaiPersonId:
          description: The person recognised as whangai for succession to this land block
          type: string
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          format: uuid
      required:
        - propertyId
      additionalProperties: false
    australia-nz:
      $schema: https://json-schema.org/draft/2020-12/schema
      $id: https://openinherit.org/v3/extensions/australia-nz/australia-nz.json
      title: Australia & New Zealand Extension
      description: 'Succession rules for AU and NZ: superannuation binding death benefit nominations, family provision claims, Aboriginal/Torres Strait Islander land, NZ Property (Relationships) Act, testamentary promises, and Maori land under Te Ture Whenua.'
      maturity: draft
      extensionType: geographic
      applicableJurisdictions:
        - AU
        - NZ
      inheritVersion: '>=2.0.0 <3.0.0'
      legalSystems:
        - common_law
      dataProvenance: Succession Act 2006 (NSW), Property (Relationships) Act 1976 (NZ), Te Ture Whenua Maori Act 1993
      maintainers:
        - name: Testate Technologies
          organisation: Testate Technologies Ltd
          role: lead
      compatibleWith:
        - islamic-succession
        - hindu-succession
      type: object
      $defs:
        SuperannuationNomination:
          type: object
          properties:
            assetId:
              type: string
              format: uuid
              pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            fundType:
              type: string
              enum:
                - smsf
                - industry
                - retail
                - public_sector
                - corporate
            nominationType:
              type: string
              enum:
                - bdbn_lapsing
                - bdbn_non_lapsing
                - non_binding
                - reversionary_pension
            binding:
              type: boolean
            expiryDate:
              type: string
              format: date
              pattern: ^\d{4}-\d{2}-\d{2}$
            expiryRule:
              type: string
              maxLength: 255
            trusteeDiscretion:
              type: boolean
            nominatedPersonIds:
              type: array
              items:
[...]
